$textColor: #212529;
$primaryColor:#33b5e5;
$primaryDark: #2855b2;
$footerColor:#1c2331;
$secondryColor:#fff;
.search {
    text-align: center;
    padding: 2rem 0 0.7rem 0;
    color: $textColor;
}
.top h1 {
    padding: 0 0 1rem 0;
}
.top p {
    font-size: 18px;
}
.contain-form {
    margin: 0 auto;
    width: 900px;
}
form {
    background-color:#2855b2;
    margin: 2.5rem 0 3rem 0;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;  
}
select {
    width: 100%;
    padding: 10px 15px 10px 10px;
    border: 0;
    border-radius: 10px;
}
.form-group button {
    color: $primaryColor;
    background-color:$secondryColor;
    width: 50%;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    margin-top: 1rem;
    border: 0;
    border-radius: 10px;
}
/* media */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
    .contain-form {
        width: 700px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .contain-form {
        width: 500px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
    .contain-form {
        width: 400px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
    .contain-form {
        width: 325px;
    }
    .top {
        h1 {
            font-size: 25px;
        }
        p {
            font-size: 16px;
        }
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
    .contain-form {
        width: 280px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
}

