<div class="search container">
  <div class="top">
    <h1>property for sale</h1>
    <p> Dont Miss our unique opportunity to own our distictive
      residential unit
    </p>
  </div>
  <div class="contain-form">
    <form name="search">
      <div class="row">
        <div class="form-group item col-lg-3">
          <select>
            <option value="" disabled selected hidden>Town !</option>
            <option value="UAE">UAE</option>
            <option value="Abu Dhabi">Abu Dhabi</option>
            <option value="Dubai">Dubai</option>
          </select>
        </div>
        <div class="form-group col-lg-4">
          <select>
            <option value="" disabled selected hidden> least number of rooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group col-lg-5">
          <select>
            <option value="" disabled selected hidden> biggest number of rooms </option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <select>
            <option value="" disabled selected hidden> least number of bathrooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <select>
            <option value="" disabled selected hidden> biggest number of bathrooms </option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group col-lg-6 ">
          <select>
            <option value="" disabled selected hidden>Salary From</option>
            <option value="2000$">2000$</option>
            <option value="2500$">2500$</option>
            <option value="5000%">5000$</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <select>
            <option value="" disabled selected hidden>To </option>
            <option value="5000$">5000$</option>
            <option value="1000$">10000$</option>
            <option value="15000$">15000$</option>
          </select>
        </div>
        <div class="form-group col-lg-12">
          <button type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
