<div class="imp-prop container">
     <div class="imp-top">
         <h1>distinguished real estate</h1>
     </div>
     <div class="imp-main row ">
         <div class="col-lg-4 box">
               <div class="box-top">
                     <img src="../../../assets/images/sean.jpg">
               </div>
               <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Abo Zabi</h6>
                     <h6><span>25000$</span></h6>
                     <a href="#"><button class="imp-btn">More Details</button></a>   
               </div>
         </div>  
         <div class="col-lg-4 box">
                 <div class="box-top">
                       <img src="../../../assets/images/joel.jpg">
                 </div>
                 <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Dubai</h6>
                    <h6><span>33000$</span></h6>
                    <a href="#"><button class="imp-btn">More Details</button></a>
                </div>
         </div> 
         <div class="col-lg-4 box">
              <div class="box-top">
                   <img src="../../../assets/images/fezbot.jpg">
              </div>
              <div class="box-bottom">
                  <h2>Tourist resort</h2>
                  <h6>Abo Zabi</h6>
                  <h6><span>50000$</span></h6>
                  <a href="#"><button class="imp-btn">More Details</button></a>
             </div>
         </div>
         <div class="col-lg-4 box">
                 <div class="box-top">
                      <img src="../../../assets/images/lance.jpg">
                 </div>
                 <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Abo Zabi</h6>
                     <h6><span>38000$</span></h6>
                     <a href="#"><button class="imp-btn">More Details</button></a>
                </div>
         </div>  
         <div class="col-lg-4 box">
             <div class="box-top">
                 <img src="../../../assets/images/patrick.jpg">
              </div>
              <div class="box-bottom">
                 <h2>Tourist resort</h2>
                 <h6>Dubai</h6>
                 <h6><span>10000$</span></h6>
                 <a href="#"><button class="imp-btn">More Details</button></a>
             </div>
         </div> 
         <div class="col-lg-4 box">
             <div class="box-top">
                 <img src="../../../assets/images/matt.jpg">
             </div>
             <div class="box-bottom">
                 <h2>Tourist resort</h2>
                 <h6>Abo Zabi</h6>
                 <h6><span>22000$</span></h6>
                 <a href="#"><button class="imp-btn">More Details</button></a>
             </div>
         </div>   
     </div> <!-- end of row -->
</div>
