<div class="imp-prop container pt-5 pb-5">
     <div class="imp-top pb-3">
         <h1>distinguished real estate</h1>
     </div>
     <div class="imp-main row ">
         <div class="col-lg-4 col-md-6 col-sm-6 ">
             <div class="box">
                 <div class="box-top">
                      <img src="../../../assets/images/sean.jpg">
                 </div>
                 <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Abo Zabi</h6>
                     <h6><span>25000$</span></h6>
                     <button class="imp-btn" (click)="onLoadDetailsPage()">More Details</button>   
                 </div>
             </div> <!--end of Box  -->       
         </div>  <!--end of col  -->
         <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="box">
                <div class="box-top">
                     <img src="../../../assets/images/joel.jpg">
                </div>
                <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Abo Zabi</h6>
                     <h6><span>25000$</span></h6>
                     <button class="imp-btn" (click)="onLoadDetailsPage()">More Details</button>   
                </div>
            </div> <!--end of Box  -->       
        </div>  <!--end of col  -->
        <div class="col-lg-4 col-md-6 col-sm-6 ">
            <div class="box">
                <div class="box-top">
                     <img src="../../../assets/images/fezbot.jpg">
                </div>
                <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Abo Zabi</h6>
                     <h6><span>25000$</span></h6>
                     <button class="imp-btn" (click)="onLoadDetailsPage()">More Details</button>   
                </div>
            </div> <!--end of Box  -->       
        </div>  <!--end of col  -->
        <div class="col-lg-4 col-md-6 col-sm-6 ">
            <div class="box">
                <div class="box-top">
                     <img src="../../../assets/images/lance.jpg">
                </div>
                <div class="box-bottom">
                     <h2>Tourist resort</h2>
                     <h6>Abo Zabi</h6>
                     <h6><span>25000$</span></h6>
                     <button class="imp-btn" (click)="onLoadDetailsPage()">More Details</button>   
                </div>
            </div> <!--end of Box  -->       
        </div>  <!--end of col  --> 
        <div class="col-lg-4 col-md-6 col-sm-6 ">
            <div class="box">
                <div class="box-top">
                     <img src="../../../assets/images/patrick.jpg">
                </div>
                <div class="box-bottom">
                    <h2>Tourist resort</h2>
                    <h6>Abo Zabi</h6>
                    <h6><span>25000$</span></h6>
                    <button class="imp-btn" (click)="onLoadDetailsPage()">More Details</button>   
                </div>
            </div> <!--end of Box  -->       
        </div>  <!--end of col  -->
        <div class="col-lg-4 col-md-6 col-sm-6 ">
            <div class="box">
                <div class="box-top">
                     <img src="../../../assets/images/matt.jpg">
                </div>
                <div class="box-bottom">
                    <h2>Tourist resort</h2>
                    <h6>Abo Zabi</h6>
                    <h6><span>25000$</span></h6>
                    <button class="imp-btn" (click)="onLoadDetailsPage()">More Details</button>   
                </div>
            </div> <!--end of Box  -->       
        </div>  <!--end of col  -->  
     </div> <!-- end of row -->
</div>
