$textColor: #212529;
$primaryColor:#33b5e5;
$primaryDark: #2855b2;
$footerColor:#1c2331;
$secondryColor:#fff;
$privateText:#fafafa;
$specialColor:#ff0000;
.collapse-btn {
    background-color:$secondryColor;
    color: #33b5e5;
    border: 1px solid $primaryColor;
    border-radius: 10px;
    width: 70%;
    margin: 1rem 0 3rem 0;
}

/* media */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
    .collapse-btn {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .collapse-btn {
        width: 55%;
        padding: 5px;
    }
    .side-bar {
        text-align: center;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
    .collapse-btn {
        width: 70%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
}

