<div class="side-bar pt-5 pl-1">
     <div class="side-top">
         <button data-toggle="collapse" data-target="#demo" class="collapse-btn">Show our Phone Number</button>
          <div id="demo" class="collapse ">
                151515
          </div>
          <button data-toggle="collapse" data-target="#demo2" class="collapse-btn">Show our Landline number</button>
          <div id="demo2" class="collapse ">
                15151585
          </div>
          <button data-toggle="collapse" data-target="#demo2" class="collapse-btn">Show our Email Address</button>
          <div id="demo2" class="collapse ">
                15151585
          </div> 
     </div>
</div>
