<div class="details-info pt-5 pb-5">
     <div class="details-top">
           <h2>Salary</h2>
           <ul>
                <li class="old-price">25000$</li>
                <li class="new-price">22000$</li>
           </ul>
           <h2>Properties</h2>
           <ul>
                 <li>2 porch</li>
                 <li>3 Bathroom</li>
                 <li>5 Bedroom</li>
                 <li>Saftey</li>
                 <li>New</li>
                 <li>Cheap</li>
                 <li>Super Lux</li>
           </ul> 
           <div class="details-box">
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                     when an unknown printer took a galley of type and scrambled it to make a type 
                     specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                     when an unknown printer took a galley of type and scrambled it to make a type 
                     specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                     when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book.
                 </p>
           </div> 
           <div class="book-head">
              <h2>Book Now</h2>
           </div>
           <div class="book-form">
                 <form name="booking-form">
                     <div class="row">
                         <div class="col-lg-12">
                             <label for="name">Name:</label><br>
                             <input type="text" id="name" name="name" class="form-element">
                         </div>
                         <div class="col-lg-12">
                             <label for="email">Email:</label><br>
                             <input type="text" id="email" name="email" class="form-element">
                         </div>
                         <div class="col-lg-12">
                             <label for="phone">Phone Number:</label><br>
                             <input type="text" id="phone" name="phone" class="form-element">
                         </div>
                         <div class="col-lg-12">
                            <label for="pName">Property Name:</label><br>
                            <input type="text" id="pName" name="pName" class="form-element">
                        </div>
                         <div class="col-lg-12">
                             <label for="comment">Any Comment:</label><br>
                             <textarea rows="4" cols="50" name="comment" form="usrform" 
                              class="form-element">
                            </textarea>
                         </div>
                         <div class="col-lg-12">
                             <button type="submit">Book Now</button>
                         </div>
                     </div>
                 </form>
           </div> 
     </div>
</div>