<div class="prop container">
  <hr>
  <div class="prop-head">
    <h1>Our Property</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src={{commonItemList.itemList[0].images[0].path}}>
      </div>
      <div class="Box-info">
        <h2> <em> test property </em> </h2>
        <p>{{commonItemList.itemList[0].description}}
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matt.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matt.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matt.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matt.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/lance.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/fezbot.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matthew.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/patrick.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/sean.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matt.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/matthew.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="Box-top">
        <img src="../../../assets/images/lance.jpg">
      </div>
      <div class="Box-info">
        <h2> <em> Residential property </em> </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
        <div class="Box-dtails">
          <a href="#"><button class="imp-btn">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 Box">
      <div class="show-more">
        <button (click)="onLoadMorePage()">Show More</button>
      </div>
    </div>
  </div> <!-- end of main row -->
</div>
