$textColor: #212529;
$primaryColor:#33b5e5;
$primaryDark: #2855b2;
$footerColor:#1c2331;
$secondryColor:#fff;
$privateText:#fafafa;
$specialColor:#ff0000;
.Box {
    background-color: $secondryColor;
    text-align: center;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    border-radius: 25px;   
}
.Box-top img {
    width: 100%;
    border-radius: 20px;
}
.Box-info {
    h2 {
        color: $primaryColor;
        margin: 1.2rem 0 .5rem 0;
    }
    span {
        color:$specialColor;
    }
    h6 {
        text-decoration: underline;
    }
     p {
        text-align: center;
    }
}
.Box-dtails {
    text-align: center;
}
.Box-dtails button {
    color:$privateText;
    background-color:$primaryColor;
    border: 0;
    border-radius: 10px;
    width: 75%;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 12px 6px 12px;
    margin: 1rem 0 1rem 0;
}
.Box-dtails button:hover ,.show-more button:hover {
     color: $primaryColor;
     background-color:$secondryColor;
     border: 1px solid $primaryColor;
}
.show-more {
    button {
        color: $privateText;
        background-color: $primaryColor;
        border: 0;
        border-radius: 10px;
        width: 50%;
        font-size: 20px;
        font-weight: 700;
        padding: 6px 12px 6px 12px;
    }
    text-align: center;
    padding-top: 15rem;
}
/* media */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .prop-head h1 {
        text-align: center;
    }
    .show-more {
        button {
          margin: 0 0 3rem 0;
        }
        padding: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
    
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
    .Box-info h2 {
        font-size: 25px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
}
