.prop {
    padding: 1rem 0 2rem 0 ;
}
.prop-head {
    padding: 1rem 0 0 0;
}
.Box-top img {
    width: 85%;
    height: 90%;
    border-radius: 15px;
}
.Box {
    margin: 2rem 0 1rem 0;
    padding: 2rem;
}
.Box-info h2 {
 padding: 1rem 0 0 0;
 text-align: center;
}
.Box-info span {
    color: red;
}
.Box-info h6 {
    text-decoration: underline;
}
.Box-info p {
    text-align: center;
}
.Box-dtails {
    text-align: center;
}
.Box-dtails button {
    padding: 6px 12px 6px 12px;
    color: #fafafa;
    background-color: #33b5e5;
    border: 0;
    border-radius: 10px;
    width: 75%;
}
.Box-dtails button:hover ,.show-more button:hover {
    background-color:#33b5e5;
}
.show-more {
    padding-top: 15rem;
    text-align: center;
}
.show-more button {
    padding: 6px 12px 6px 12px;
    color: #fafafa;
    background-color: #33b5e5;
    border: 0;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    
}