.contact-us {
    padding: 2rem 0 2rem 0;
}
.contact-left {
    padding: 5rem 0 0 0;
}
.contact-left span {
    color: red;
}
.contact-right form {
    border: 1px solid #33b5e5;
    padding: 1rem;
    border-radius: 15px;

}
.contact-right h4,.contact-top h2 {
    color: #33b5e5;
    margin: 0 0 1rem 0;
}
.form-element {
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 5px;
}