.contain-footer {
    background-color: #1c2331;
    // background-image: url(../../../assets/images/footer2.jpeg);
    background-repeat: no-repeat;
    padding: 2rem 0 2rem 0;
    
}
.main {
    padding: 1rem 0 0 0;
}
h3,h4,a {
    color: #fafafa;
    font-weight: 300;
}
a {
    text-decoration: none;
}