<div class="contain-footer ">
    <div class="container main">
         <div class="row">
             <div class="col-lg-6">
                 <h3>Follow Us</h3>
                 <h4>icon icon</h4>
                 <h4>+971-58-533-4858</h4>
             </div>
             <div class="col-lg-6 footer-info">
                 <h3><a href="#">Sign In</a></h3>
                 <h3><a href="#">Privacy Policy</a></h3>
                 <h3><a href="#">Terms and Condition</a></h3>
                 <h3><a href="#">About Us</a></h3>
             </div>
         </div>
    </div>
</div>