<div class="contain-footer ">
    <div class="container main pt-1">
         <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-6">
                 <h3>Follow Us</h3>
                 <h4>icon icon</h4>
                 <h4>+971-58-533-4858</h4>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 footer-info">
                 <h3><a routerLink="sign-in">Sign In</a></h3>
                 <h3><a routerLink="about-us">Privacy Policy</a></h3>
                 <h3><a routerLink="about-us">Terms and Condition</a></h3>
                 <h3><a routerLink="about-us">About Us</a></h3>
             </div>
         </div>
    </div>
</div>