<div class="sign-up container pt-2 pb-2">
    <div class="sign-head">
        <h1>Sign Up</h1>
    </div>
    <div class=" contain-sign-up">
         <div class="sign-content">
            <form name="sign-up">
                <h3>Create your account</h3>
                <div class="row">
                       <div class="col-lg-12">
                             <input type="text" id="fName" name="fName" class="form-element" placeholder="First Name">
                       </div>
                       <div class="col-lg-12">
                             <input type="text" id="lName" name="lName" class="form-element" placeholder="Last Name">
                       </div>
                       <div class="col-lg-12">
                             <input type="text" id="email" name="email" class="form-element"placeholder="ُEmail Adress">
                       </div>
                       <div class="col-lg-12">
                             <input type="password" id="password" name="password" class="form-element" placeholder="Password">
                        </div>
                        <div class="col-lg-12">
                              <input type="password" id="cPassword" name="password" class="form-element" placeholder="Confirm Password">
                        </div>
                        <div class="form-btn col-lg-12">
                             <p>By clicking Sign Up, you agree to our <b>Terms of</b> Use and our <b>Privacy Policy.</b></p>
                             <button class="btn">Sign Up</button>
                        </div>
                </div>
           </form>
         </div>
    </div>
</div>